html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    width: 100vw;
    overflow: none;
}

section#balk {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#tekening {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



svg {
    height: 90%;
}