html, * {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    overscroll-behavior: none;
}

:root {
    --ruimte-rand: 0.5rem;
    --hoogte-balk: 2rem;
}

@media screen and (min-width: 600px) {
    :root {
        --ruimte-rand: 1rem;
        --hoogte-balk: 3rem;
    }
}


body {
    height: 100svh;
    width: 100vw;
    overflow: none;
    padding: var(--ruimte-rand);
}

section#balk {
    height: var(--hoogte-balk);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

section#venster {
    position: absolute;

    display: none;

    overflow-y: auto;
    height: calc(100% - 2 * var(--ruimte-rand) - var(--hoogte-balk));
    width: calc(100% - 2 * var(--ruimte-rand));
    background-color: rgba(255, 232, 232, 0.9);

    border: 1px solid black;
    border-top: 0;
    padding: var(--ruimte-rand);
}

section#balk div:first-of-type {
    width: 80%;
    height: 100%;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#balk div:last-of-type {
    width: 20%;
    height: 100%;

    border: 1px solid black;
    border-left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#tekening {
    height: calc(100% - var(--hoogte-balk));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




svg {
    height: 90%;
}

g.actief .cls-1 {
    fill: rgb(236, 7, 7) !important;
    /* transition: fill 0.3s; */
  }